body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.choice {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.choice .choice-heading {
  margin-bottom: 10px;
  font-size: 20px;
}